body {
   margin: 0;
   text-align: center;
   font-family: 'Dosis', sans-serif;
   overflow-x: hidden;
   background-color: #faf3dd;
}

hr {
    border: dotted #1b262c 6px;
    border-bottom: none;
    width: 10%;
    margin: 100px auto;
}

a {
    color: #11999e;
    text-decoration: none;
}

a:hover {
    color: #eaf6f6;
}


h1 {
    width: 10%;
    margin: 0 auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color:  #11999E
}
    

.middle-container {
    height: auto;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

.intro {
    position: relative;
    left: 500px;
    padding-top: 20px;
    padding-right: 20px;
}

.logo {
    position: absolute;
    padding-left: 10px;
    bottom: 420px;
    left: 0px;
}

.myname {
    padding-top: 40px;
    font-size: 30px;
}

.new-container {
    position: relative
}
.skills{
    overflow: auto;
    height: 100%;
    display: block;
}

.skill-row {
    font-size: 120%;
    width: 50%;
    text-align: left;
    bottom: 600px;
    padding-top: 0;
}

.wd {
    margin-left: 200px;
}

.webdevpic {
    width: 45%;
    float: left;
    margin-left: 20px;
}

.webdev2 {
    width: 60%;
    margin-left: 200px;
}

.skill-row1 {
    font-size: 120%;
    width: 30%;
    text-align: left;
    float: right;
    position: relative;
    bottom: 225px;
}

.smpic {
    width: 60%;
    height: 50%;
    float: right;
    margin-right: 20px;
}

.sm {
    margin-right: 200px;
}

.sm2 {
    width: 60%;
    margin-right: 200px;
}


.contact-me {
    width: 40%;
    margin: 40px auto 60px;
}

.copyright {
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
}

.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 100;
    padding: 40px;
    box-shadow: 1px 1px 20px 0px #000000;
    -webkit-box-shadow: 1px 1px 20px 0px #000000;
    -moz-box-shadow: 1px 1px 20px 0px #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    }

    .btn:hover {
        border: solid #2BC4AD 1px;
        background: #1E62D0;
        background-image: -webkit-linear-gradient(top, #1E62D0, #30E3CB);
        background-image: -moz-linear-gradient(top, #1E62D0, #30E3CB);
        background-image: -ms-linear-gradient(top, #1E62D0, #30E3CB);
        background-image: -o-linear-gradient(top, #1E62D0, #30E3CB);
        background-image: linear-gradient(to bottom, #1E62D0, #30E3CB);
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        text-decoration: none;
        }
    
